<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://kit.fontawesome.com/fd934ab2f3.js" crossorigin="anonymous"></script>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Hair Salon</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="section1">
				<nav>
					<ul>
						<li><a href="#">We're Right Hair</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">HOME</a></li>
						<li><a href="#">SERVICES</a></li>
						<li><a href="#">LOOKBOOK</a></li>
						<li><a href="#">NEWS</a></li>
						<li><a href="#">CONTACT</a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#">- BOOK ONLINE</a></li>
					</ul>
				</nav>
			<header>
				<h1>HIGHLIGHT YOURSELF</h1>	
				<h5>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN STYLE</h5>
				<button class="firstButton">- OUR SERVICES</button>
				<div class="coupon1 coupon">
					<h6>YOUR FIRST VISIT?</h6>
					<h5><span>-20%</span>FOR THE FIRST CLASSIC HAIR COLORING</h5>
					<button class="secondButton">- BOOK ONLINE</button>
				</div>
			</header>
		</section>
		<section class="section2">
			<div class="div1InSection2">
				<img src="https://i.ibb.co/HPLKf1p/pexels-john-diez-7389077.jpg" alt="pexels-john-diez-7389077">
				<h4>EXPERT BEAUTICIANS</h4>
				<p>Sit back and relax as our expert hair dressers take care of your needs. There's no guessing, only guaranteed satisfaction.</p>
			</div>
			<div class="div2InSection2">
				<img src="https://i.ibb.co/hZ8gRcz/pexels-kampus-production-8834021.jpg" alt="pexels-kampus-production-8834021">
				<h4>QUALITY SERVICE </h4>
				<p>Enjoy our Lookbook; every style included in the book has been replicated by one of our very own specialists. </p>
			</div>
			<div class="div3InSection2">
				<img src="https://i.ibb.co/18zLmWd/pexels-nataliya-vaitkevich-8467970.jpg" alt="pexels-nataliya-vaitkevich-8467970">
				<h4>BEUATY PRODUCTS</h4>
				<p>Not only will you look good coming out of our salon, but our specialty products will keep your "do" looking fresh for weeks!</p>
			</div>
		</section>
		<section class="section3">
			<div class="textInSection3">
				<h5>MAKE YOUR OWN MOMENTUM</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nisi illum, recusandae sit dolor autem assumenda incidunt eaque, labore molestiae quaerat et quos nihil ipsum. Quae, quam explicabo soluta temporibus quaerat error dolor? Mollitia dignissimos minima totam, iste ipsam nam! Voluptate, animi dolorum molestiae eius ducimus recusandae magnam fugit nostrum?</p>
				<button class="thirdButton">- READ MORE</button>
			</div>
			<div class="imageSection3">
				<img src="https://i.ibb.co/WKkXqSG/pexels-rodnae-productions-7755223.jpg" alt="pexels-rodnae-productions-7755223">
			</div>
		</section>
		<section class="section4">
			<img src="#" alt="">
			<img src="#" alt="">
			<img src="#" alt="">
		</section>
		<section class="section5">
			<div class="coupon2 coupon">
				<h5>COLOR DAY OFFER!</h6>
					<h3><span>-10%</span> ON HAIRCUT COLOR AND HIGHLIGHT</h3>
					<button class="fourthButton">- BOOK APPOINTMENT</button>
			</div>
		</section>
		<section class="section6">
			<h3 class="lookbookTitle">OUR LOOKBOOK</h3>
			<h3>-</h3>
			<img class="lookbookImg1" src="https://i.ibb.co/t4kYp92/raphael-lovaski-ac-JTu-Az-H9-RQ-unsplash.jpg" alt="raphael-lovaski-ac-JTu-Az-H9-RQ-unsplash">
			<img class="lookbookImg2" src="https://i.ibb.co/X4SF8T6/honey-yanibel-minaya-cruz-gm5na-Ig3-Fvo-unsplash.jpg" alt="honey-yanibel-minaya-cruz-gm5na-Ig3-Fvo-unsplash">
			<img class="lookbookImg3" src="https://i.ibb.co/zswF36D/suad-kamardeen-cdh-G6ugn-Xvg-unsplash.jpg" alt="suad-kamardeen-cdh-G6ugn-Xvg-unsplash">
			<img class="lookbookImg4" src="https://i.ibb.co/7kP37Jt/seven-shooter-w-On-Xnci-V6p-I-unsplash.jpg" alt="seven-shooter-w-On-Xnci-V6p-I-unsplash">
			<img class="lookbookImg5" src="https://i.ibb.co/RD9nLjn/ovayo-ntlabati-f-WTk4-Jqwi-M-unsplash.jpg" alt="ovayo-ntlabati-f-WTk4-Jqwi-M-unsplash">
			<img class="lookbookImg6" src="https://i.ibb.co/M22nYNT/eye-for-ebony-OWi1s-IWi-CAI-unsplash-1.jpg" alt="eye-for-ebony-OWi1s-IWi-CAI-unsplash-1">
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
